<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>School Dashboard</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"-->
<!--            ntegrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="./styles/styles.css">-->

<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; Welcome header &ndash;&gt;-->
<!--<div class="container" id="main-container">-->
<!--    <div id="headtext"><h1>Welcome Administrator</h1>-->
<!--     <a id="logout" href="./">Log out</a>-->

<!--        &lt;!&ndash; navigation bar &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
<!--                aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"-->
<!--                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Forms-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="upload">Upload a form</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="forms">Review all forms</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--    </div>-->

<!--    &lt;!&ndash;create containers for uploads and all forms links&ndash;&gt;-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4-md">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <div class="card-body">-->
<!--                        <a href="upload" class="btn btn-primary">Upload a form</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-4-md">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <div class="card-body">-->
<!--                        <a href="forms" class="btn btn-primary">View all forms</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--    &lt;!&ndash;$(document).ready(function(){&ndash;&gt;-->

<!--        &lt;!&ndash;$('.col-4-md').hover(&ndash;&gt;-->
<!--            &lt;!&ndash;function(){&ndash;&gt;-->
<!--                &lt;!&ndash;$(this).animate({&ndash;&gt;-->
<!--                    &lt;!&ndash;marginTop: "0%"&ndash;&gt;-->
<!--                &lt;!&ndash;}, 200);&ndash;&gt;-->
<!--            &lt;!&ndash;}&ndash;&gt;-->
<!--        &lt;!&ndash;);&ndash;&gt;-->
<!--    &lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->


<!--</body>-->
<!--</html>-->